NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
STRIPE_PRODUCT_ID=
STRIPE_PAPERBACK_PRICE_ID=
STRIPE_HARDCOVER_PRICE_ID=
NEXT_PUBLIC_STRIPE_PAPERBACK_URL=
NEXT_PUBLIC_STRIPE_HARDCOVER_URL=
